/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    background: #ececec;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
a.active{
    background-color: rgba(0, 0, 0, 0.1);
}
textarea{
    border:none;
    border-bottom: 1px solid #9e9e9e;
}
textarea:focus , input:focus{
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
    outline: none;
}

.form-body{
    background: white;
    border-radius: 5px;
}


